#photoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo {
  margin: 10px;
  width: calc(25% - 20px);
}

.photo img {
  width: 100%;
  height: auto;
}

.photoInfo {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}
