/* 图片容器样式 */
    .photo-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      transition: opacity 0.3s ease;
    }

    /* 图片样式 */
    .photo-container img {
      max-width: 100%;
      height: auto;
    }

    /* exif信息样式 */
    .exif-info {
      width: 90%;
      margin-top: 10px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      text-align: center;
      color: #333;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    /* exif信息排版样式 */
    .exif-info-row{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
    }

    .exif-info-item {
      flex: 0 0 33.33%;
      box-sizing: border-box;
      padding: 5px;
      text-align: left;
    }
